In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/clean_data.csv')

In [3]:
data.head()

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,EMPLOYMENT_TYPE,DISBURSAL_DATE,...,SEC_ACTIVE_ACCTS,SEC_OVERDUE_ACCTS,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES,LOAN_DEFAULT,APPLICATES_AGE,DISBURSAL_AGE
0,420825,0.439324,0.230606,0.875911,67,22807,45,1441,1,2018-03-08,...,0,0,0,0,0.00,0.0,0,0,38.0,4.0
1,417566,0.490280,0.289956,0.877732,67,22807,45,1497,2,2018-01-08,...,0,0,0,0,0.00,0.0,0,0,37.0,4.0
2,539055,0.473295,0.268703,0.849499,67,22807,45,1495,2,2018-09-26,...,0,0,0,0,0.00,0.0,1,1,45.0,4.0
3,518279,0.513588,0.300784,0.878415,67,22807,45,1501,2,2018-09-19,...,0,0,0,0,1.75,2.0,0,0,32.0,4.0
4,529269,0.359510,0.292764,0.576958,67,22807,45,1502,1,2018-09-23,...,0,0,0,0,0.00,0.0,0,0,34.0,4.0

### feature selection

In [17]:
data.dtypes

UNIQUEID                                 int64
DISBURSED_AMOUNT                       float64
ASSET_COST                             float64
LTV                                    float64
BRANCH_ID                                int64
SUPPLIER_ID                              int64
MANUFACTURER_ID                          int64
CURRENT_PINCODE_ID                       int64
EMPLOYMENT_TYPE                          int64
DISBURSAL_DATE                          object
STATE_ID                                 int64
EMPLOYEE_CODE_ID                         int64
AADHAR_FLAG                               bool
PAN_FLAG                                  bool
VOTERID_FLAG                              bool
DRIVING_FLAG                              bool
PASSPORT_FLAG                             bool
PERFORM_CNS_SCORE                      float64
PRI_NO_OF_ACCTS                        float64
PRI_ACTIVE_ACCTS                         int64
PRI_OVERDUE_ACCTS                        int64
PRI_CURRENT_BALANCE                    float64
PRI_SANCTIONED_AMOUNT                  float64
SEC_NO_OF_ACCTS                          int64
SEC_ACTIVE_ACCTS                         int64
SEC_OVERDUE_ACCTS                        int64
NEW_ACCTS_IN_LAST_SIX_MONTHS             int64
DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS      int64
AVERAGE_ACCT_AGE                       float64
CREDIT_HISTORY_LENGTH                  float64
NO_OF_INQUIRIES                          int64
LOAN_DEFAULT                             int64
APPLICATES_AGE                         float64
DISBURSAL_AGE                          float64
dtype: object

In [18]:
num_cols = [
    'DISBURSAL_AGE',
    'APPLICATES_AGE',
    'CREDIT_HISTORY_LENGTH',
    'AVERAGE_ACCT_AGE',
    'PRI_SANCTIONED_AMOUNT',
    'PRI_CURRENT_BALANCE',
    'PRI_NO_OF_ACCTS',
    'PERFORM_CNS_SCORE',
    'LTV',
    'ASSET_COST',
    'DISBURSED_AMOUNT'
]

len(nums_cols)

11

In [19]:
x_num = data[num_cols]
y = data['LOAN_DEFAULT']

In [20]:
free_cols = [
    'DISBURSAL_DATE',
    'LOAN_DEFAULT',
    'UNIQUEID'
]

In [22]:
x_cat = data.drop(num_cols+free_cols, axis = 1)

In [23]:
x_cat

,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,EMPLOYMENT_TYPE,STATE_ID,EMPLOYEE_CODE_ID,AADHAR_FLAG,PAN_FLAG,VOTERID_FLAG,DRIVING_FLAG,PASSPORT_FLAG,PRI_ACTIVE_ACCTS,PRI_OVERDUE_ACCTS,SEC_NO_OF_ACCTS,SEC_ACTIVE_ACCTS,SEC_OVERDUE_ACCTS,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,NO_OF_INQUIRIES
0,67,22807,45,1441,1,6,1998,True,False,False,False,False,0,0,0,0,0,0,0,0
1,67,22807,45,1497,2,6,1998,True,False,False,False,False,0,0,0,0,0,0,0,0
2,67,22807,45,1495,2,6,1998,True,False,False,False,False,0,0,0,0,0,0,0,1
3,67,22807,45,1501,2,6,1998,True,False,False,False,False,0,0,0,0,0,0,0,0
4,67,22807,45,1502,1,6,1998,True,False,False,False,False,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123734,34,20700,48,1050,2,6,3705,True,False,False,False,False,0,0,0,0,0,0,0,0
123735,34,20700,48,1051,1,6,3705,False,False,True,False,False,0,0,0,0,0,0,0,0
123736,34,23024,86,1044,1,6,3705,True,False,False,False,False,0,0,0,0,0,0,0,0
123737,34,20700,48,1051,2,6,3705,True,False,False,False,False,2,0,0,0,0,2,0,0
123738,34,20700,48,1051,1,6,3705,True,False,False,False,False,0,0,0,0,0,0,0,0

In [ ]:
cat_cols = list(x_cat.columns)